@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff; 
    --foreground: #000000; 
    --card: #ffffff; 
    --card-foreground: #000000; 
    --popover: #ffffff; 
    --popover-foreground: #000000; 
    --primary: #63A908; 
    --primary-foreground: #ffffff; 
    --secondary: #663B14; 
    --secondary-foreground: #ffffff; 
    --muted: #f3f1e2; 
    --muted-foreground: #000000; 
    --accent: #ededed; 
    --accent-foreground: #000000; 
    --destructive: #f84e23; 
    --destructive-foreground: #ffffff; 
    --border: #cfcfcf; 
    --input: #cfcfcf; 
    --ring: #cfcfcf; 
    --radius: 0.5rem;
  }

  .dark {
    --background: #302003; /* Dark brown */
    --foreground: #f5f3e7; /* Lighter text color for dark mode */
    --card: #302003; /* Dark brown */
    --card-foreground: #f5f3e7; /* Lighter text color for dark mode */
    --popover: #302003; /* Dark brown */
    --popover-foreground: #f5f3e7; /* Lighter text color for dark mode */
    --primary: #85a86f; /* Slightly lighter primary color for dark mode */
    --primary-foreground: #302003; /* Dark brown */
    --secondary: #5a7a37; /* Slightly lighter secondary color for dark mode */
    --secondary-foreground: #f5f3e7; /* Lighter text color for dark mode */
    --muted: #5a7a37; /* Muted dark green */
    --muted-foreground: #b08a57; /* Lighter muted text for dark mode */
    --accent: #85a86f; /* Light green */
    --accent-foreground: #302003; /* Dark brown */
    --destructive: #d64933; /* Slightly lighter destructive color for dark mode */
    --destructive-foreground: #f5f3e7; /* Lighter text color for dark mode */
    --border: #5a7a37; /* Dark green */
    --input: #5a7a37; /* Dark green input border */
    --ring: #f5f3e7; /* Light cream ring */
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
