@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff; 
    --foreground: #000000; 
    --card: #ffffff; 
    --card-foreground: #000000; 
    --popover: #ffffff; 
    --popover-foreground: #000000; 
    --primary: #63A908; 
    --primary-foreground: #ffffff; 
    --secondary: #663B14; 
    --secondary-foreground: #ffffff; 
    --muted: #f3f1e2; 
    --muted-foreground: #000000; 
    --accent: #ededed; 
    --accent-foreground: #000000; 
    --destructive: #f84e23; 
    --destructive-foreground: #fdc1b2;
    --warning: #fcbb0a;
    --warning-foreground: #fee7a9;
    --border: #cfcfcf; 
    --input: #cfcfcf; 
    --ring: #cfcfcf; 
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    border-color: var(--border);
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
