@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 130 100% 25%;       
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 94%;
    --secondary-foreground: 0 0% 0%;
    --alternative: 30 100% 30%;
    --alternative-foreground: 0 0% 100%;
    --muted: 207 86% 95%;
    --muted-foreground: 0 0% 0%;
    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 0%;
    --destructive: 11 93% 55%;
    --destructive-foreground: 11 93% 85%;
    --warning: 39 97% 50%;
    --warning-foreground: 39 97% 83%;
    --border: 0 0% 75%;
    --input: 0 0% 81%;
    --ring: 0 0% 100% / 0;
    --success: 140 100% 32%;
    --radius: 0.5rem;
   
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 98%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 130 100% 25%;       
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 15%;
    --secondary-foreground: 0 0% 98%;
    --alternative: 30 100% 30%;
    --alternative-foreground: 0 0% 100%;
    --muted: 207 90% 3%;
    --muted-foreground: 0 0% 85%;
    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 11 93% 45%;
    --destructive-foreground: 11 93% 95%;
    --warning: 39 97% 40%;
    --warning-foreground: 39 97% 93%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --warning: 39 97% 50%;
    --warning-foreground: 39 97% 83%;

    --success: 140 100% 42%;
  }
}

@layer base {
  * {
    @apply border-border;

  }
  body {
    @apply bg-background text-foreground;
  }
}
